@font-face {
  font-family: "LatoLatinWebSemibold";
  src: url(../../fonts/LatoLatin-Semibold.ttf);
}
html {
  scroll-timeline: custom_name;
}

.nav-up {
  height: 90px;
}

.nav-scrolled {
  height: 70px;
}

.logo-up {
  width: 215px;
  height: 215px;
}

.navigation-contaier {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #630708;
  transition: height 0.2s ease-in-out;
  z-index: 2;
}
.navigation-contaier .left-navbar {
  margin-left: 14%;
  width: 50%;
}
.navigation-contaier .right-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 14%;
  width: 50%;
}
.navigation-contaier .logo-img {
  position: absolute;
  background-size: cover;
  background-image: url(../../img/logo.svg);
  transform: translateY(80px);
  transition: 0.2s ease-out;
}
.navigation-contaier .logo-scrolled {
  width: 130px;
  height: 130px;
  background-size: cover;
  transform: translateY(30px);
  transition: 0.2s ease-out;
}
.navigation-contaier button {
  display: inline-block;
  padding: 10px 10px;
  margin: 10px 20px;
  position: relative;
  border: none;
  background-color: #630708;
  color: #e9e8e2;
  font-size: 15px;
  font-family: "LatoLatinWebSemibold", sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation-contaier button a {
  text-decoration: none;
}
.navigation-contaier .navbtn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #e9e8e2;
  transition: width 0.3s ease-in-out;
}
.navigation-contaier button:hover::before {
  width: 100%;
}
.navigation-contaier .contact-button {
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: 15px;
  background-color: #6c090a;
  width: 149px;
  height: 44px;
  letter-spacing: 1px;
  border-radius: 40px;
  gap: 10px;
  border: 2px solid rgba(233, 232, 226, 0);
  transition: 0.3s ease-in-out;
}
.navigation-contaier .contact-button:hover {
  border: 2px solid rgb(233, 232, 226);
  animation: contact-hover 0.3s ease-in-out;
}
.navigation-contaier .faq:hover::before {
  width: 100%;
}
.navigation-contaier .language-btn {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2px;
  padding: 10px;
}
.navigation-contaier .language-btn .only-btn {
  display: flex;
  align-items: center;
  color: #e9e8e2;
  font-family: "LatoLatinWebSemibold", sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  cursor: default;
  font-size: 15px;
}
.navigation-contaier .language-btn .material-symbols-outlined {
  text-align: center;
}
.navigation-contaier .language-btn .language-choice-window {
  position: absolute;
  left: 72.5%;
  top: 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 0px;
  width: 104px;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-out;
}
.navigation-contaier .language-btn .language-choice-window span {
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #242424;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.navigation-contaier .language-btn .language-choice-window .eng-span:hover {
  opacity: 0.7;
}
.navigation-contaier .language-btn .language-choice-window .de-span:hover {
  opacity: 0.7;
}
.navigation-contaier .language-btn:hover .language-choice-window {
  height: 86px;
}

@keyframes contact-hover {
  0% {
    background-color: #6c090a;
  }
  50% {
    background-color: #972628;
  }
  100% {
    background-color: #6c090a;
  }
}
.active .navbtn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #e9e8e2;
  transition: width 0.3s ease-in-out;
}
.active .contact-button {
  border: 2px solid rgb(233, 232, 226);
}

@media (max-width: 1800px) {
  @-moz-document url-prefix() {
    .navigation-contaier .right-navbar .language-btn .language-choice-window {
      left: 70%;
    }
  }
}
@media (max-width: 1580px) {
  .right-navbar .language-btn .language-choice-window {
    left: 74%;
  }
  @-moz-document url-prefix() {
    .navigation-contaier .right-navbar .language-btn .language-choice-window {
      left: 68%;
    }
  }
}
@media (max-width: 1450px) {
  .right-navbar .language-btn .language-choice-window {
    left: 72%;
  }
}
@media (max-width: 1150px) {
  .right-navbar .language-btn .language-choice-window {
    left: 70%;
  }
}
@media (max-width: 1300px) {
  @-moz-document url-prefix() {
    .navigation-contaier .left-navbar {
      margin-left: 5%;
    }
    .navigation-contaier .right-navbar {
      margin-right: 5%;
    }
    .navigation-contaier .right-navbar .language-btn .language-choice-window {
      left: 73%;
    }
    .nav-up {
      height: 80px;
    }
  }
}
@media (min-width: 2350px) {
  .right-navbar .language-btn .language-choice-window {
    left: 75%;
  }
}
@media (min-width: 2800px) {
  .right-navbar .language-btn .language-choice-window {
    left: 77%;
  }
}