@import "./colors";

.cookies-container {
	position: fixed;
	bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 87px;
	z-index: 100;

	.cookies-window {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 75%;
		height: 87px;
		background-color: $claret-dark;
		border-radius: 10px;

		.cookies-note {
			width: 1000px;
			margin-left: 50px;
			font-family: "Inter", sans-serif;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0.3px;
			color: $washed-white;
			font-size: 15px;
		}
		.accept-cookies-btn {
			width: 145px;
			height: 44px;
			background: none;
			border: 1.5px $washed-white solid;
			color: $washed-white;
			border-radius: 100px;
			font-family: "Lato", sans-serif;
			font-weight: 700;
			font-size: 16px;
			font-style: normal;
			letter-spacing: 0.3px;
			cursor: pointer;
			transition: 0.2s ease-out;
		}

		.accept-cookies-btn:hover {
			opacity: 0.5;
		}

		span {
			position: relative;
			top: 12px;
			right: 20px;
			height: 87px;
			width: 10px;
			font-size: 20px;
			color: $washed-white;
			cursor: pointer;
		}
	}
}
